@media screen and (max-width: 1140px) {

    .content .card {
        width: calc(100% / 4);
    }

}  
@media screen and (max-width: 768px) {

    .content .card {
        width: calc(100% / 2);
    }

    .left-player .album-option {
        padding-right: 0;
    }

    .center-player .song-duration {
        min-width: 220px;
    }

    .song-duration:hover::after {
        content: '';
        width: 15px;
        height: 15px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: -1px;
        left: 25%;
        cursor: pointer;
    }

    .right-player {
        padding-left: 50px;
    }

    .right-player .icons {
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .right-player .volume {
        width: 150px;
    }

    .volume:hover::after {
        content: '';
        width: 15px;
        height: 15px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 21px;
        left: 45%;
        cursor: pointer;
    }

}  

@media screen and (max-width: 600px) {

    main aside {
        width: 50px;
    }

    aside .container {
        padding: 12px;
    }

    .nav-top .logo-max{
        display: none;
    }

    .nav-top .logo-min{
        display: block;
    }

    .nav-top .menu ul li a {
        display: none;
    }

    .nav-top .playlist {
        display: none;
    }

    .nav-bot a,
            span,
            hr {
        display: none;
    }

    .nav-bot .download {
        margin-bottom: 15px;
    }

    .nav-bot .user {
        display: flex;
        width: 25px;
        align-items: center;
        justify-content: center;
    }

    main .cta {
        width: calc(100% - 50px);
        height: 70px;
    }

    .cta .btn-upgrade a {
        padding: 10px 15px;
    }

    main .content {
        padding: 70px 20px 0 20px;
    }

    .player-bar {
        font-size: .8rem;
    }

    .player-bar .left-player,
    .right-player {
        width: 150px;
    }

    .player-bar .left-player .album-info {
        display: none;
    }

    .song-duration:hover::after {
        content: '';
        width: 15px;
        height: 15px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: -1px;
        left: 18%;
        cursor: pointer;
    }

    .volume:hover::after {
        content: '';
        width: 15px;
        height: 15px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 23px;
        left: 65%;
        cursor: pointer;
    }


}
