/* ******GENERAL ****** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

i:hover {
    color: white;
}

li {
    list-style: none;
}

/* ****** UTILITIES ****** */
.debug {
    background-color: rgba(0, 255, 0, .2);
    border: 1px solid limegreen;
    /* min-height: 50px; */
}

.txt-gray {
    color: #6F6F6F;
}

.txt-07 {
    font-size: .7rem;
}

.txt-08 {
    font-size: .8rem;
}

.txt-09 {
    font-size: .9rem;
}

.txt-11 {
    font-size: 1.1rem;
}

.txt-12 {
    font-size: 1.2rem;
}

.txt-20 {
    font-size: 2rem;
}

.txt-40 {
    font-size: 4rem;
}

/* ****** BODY ****** */
.main-wrapper {
    height: 100vh;
}

/*MAIN*/
main {
    display: flex;
    height: calc(100% - 90px);
    background-color: #141922;
}
/* ****** MAIN - ASIDE ****** */
main aside {
    width: 230px;
    height: 100%;
    flex-shrink: 0;  
    background-color: black;
    color: white;
}

aside .container {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    height: 100%;
    padding: 15px;
}

.nav-top,
.nav-bot {
    width: 100%;
}

.nav-top {
    height: calc(100% - 60px);
}

.nav-top .logo {
    margin-bottom: 15px;
}

.nav-top .logo img {
    width: 65%;
    filter: invert(58%) sepia(92%) saturate(387%) hue-rotate(89deg) brightness(93%) contrast(101%);
}

.nav-top .menu {
    margin-bottom: 15px;
}

.nav-top .menu ul li {
    margin-bottom: 5px;
}

.nav-top .menu ul li img {
    width: 15%;
    vertical-align: middle;
    padding-right: 3px;
    filter: invert(46%) sepia(9%) saturate(0%) hue-rotate(161deg) brightness(93%) contrast(100%);
}

.nav-top .menu ul li img:hover {
    filter: none;
}

.nav-top .playlist ul li {
    margin-bottom: 10px;
}

.nav-top .playlist ul li:first-child {
    padding-top: 8px;
}

.nav-top .playlist ul li:first-child i {
    vertical-align: middle;
}

.nav-bot {
    height: 60px;
}

.nav-bot .download {
    margin-bottom: 5px;
}

.nav-bot .download img {
    width: 12%;
    vertical-align: middle;
    padding-right: 2px;
    filter: invert(46%) sepia(9%) saturate(0%) hue-rotate(161deg) brightness(93%) contrast(100%);
}

.nav-bot hr {
    border: 1px solid #6F6F6F;
    margin-bottom: 10px;
}

.nav-bot .download img:hover {
    filter: none;
}  

.nav-bot .user img {
    width: 15%;
    vertical-align: middle;
    padding-right: 3px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 50%;
    filter: invert(46%) sepia(9%) saturate(0%) hue-rotate(161deg) brightness(93%) contrast(100%);
}

/* ****** MAIN - CALL TO ACTION ****** */
main .cta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: calc(100% - 230px);
    height: 90px;
    background-color: #080B12;
    color: white;
}

.cta .btn-upgrade {
    padding-right: 20px;
}

.cta .btn-upgrade:hover {
    transform: scale(1.1);
}

.cta .btn-upgrade a {
    padding: 15px 20px;
    border: 1px solid white;
    border-radius: 25px;
    transition: all .4s;
}

.cta .btn-upgrade a:hover {
    border: 1px solid #1ED760;
    color: #1ED760;
}


/* ****** MAIN - CONTENT - CARDS ****** */
main .content {
    width: 100%;
    height: 100%;
    padding: 90px 20px 0 20px;
    color: white;
    overflow-y: auto;
}

.content .top-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.content .top-menu ul {
    display: flex;
}

.content .top-menu ul li {
    padding: 10px 10px;
}

.recently {
    margin-bottom: 45px;
}

.created-for {
    margin-bottom: 45px;
}

.popular {
    margin-bottom: 25px;
}

.content .row {
    display: flex;
    flex-wrap: wrap;
}

.content .card {
    width: calc(100% / 6);
    padding-top: 20px;
    padding-right: 15px;
}

.card-img {
    position: relative;
}

.content .card-img .overlay {
    width: 100%;
    height: 94.6%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    display: none;
}

.content .card-img:hover .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.popular .card-img .overlay {
    width: 100%;
    height: 95%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 49%;
    display: none;
}

.card-img img {
    width: 100%;
    padding-bottom: 10px;
}
.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info h4 {
    margin-bottom: 5px;
}

.created-for h2 {
    margin-bottom: 5px;
}

.created-for p {
    margin-bottom: 5px;
}

.popular .card-img img {
    border-radius: 50%;
}

/* ****** FOOTER - PLAYER BAR ****** */
.player-bar {
    height: 90px;
    background-color: #282828;
    color: white;
}

.player-bar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.player-bar .left-player {
    display: flex;
}

.left-player .album-cover {
    padding-right: 10px;
}

.left-player .album-cover img {
    width: 55px;
}

.left-player .album-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
}

.left-player .album-options {
    display: flex;
    align-items: center;
}

.left-player .album-options a:first-child {
    padding-right: 10px;
}

.center-player .commands a {
    padding: 0 10px;
}

.commands {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.commands #play {
    font-size: 2rem;
    padding: 0 22px;
}

.center-player .song {
    display: flex;
    position: relative;
}

.center-player .song-duration {
    min-width: 500px;
    height: 5px;
    border-radius: 15px;
    background-color: #6F6F6F;
    margin: 4px 12px;
}

.song-duration:before{
    content: '';
    width: 15%;
    background-color: white;
    height: 5px;
    position: absolute;
    border-radius: 15px;
}

.song-duration:hover::before{
    content: '';
    width: 15%;
    background-color: #1ED760;
    height: 5px;
    position: absolute;
    border-radius: 15px;
}

.song-duration:hover::after {
    content: '';
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: 20%;
    cursor: pointer;
}

.right-player {
    position: relative;
    display: flex;
}

.right-player .icons a {
    margin-right: 12px;
}

.volume{
    align-self: center;
    width: 150px;
    height: 5px;
    border-radius: 15px;
    background-color: #6F6F6F;
}

.volume:before{
    content: '';
    width: 30px;
    background-color: white;
    height: 5px;
    position: absolute;
    border-radius: 15px;
}

.volume:hover::before{
    content: '';
    width: 30px;
    background-color: #1ED760;
    height: 5px;
    position: absolute;
    border-radius: 15px;
}

.volume:hover::after {
    content: '';
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 50%;
    cursor: pointer;
}